  .head-wrapper {
    display: flex;
    justify-content: space-between;
    background: transparent;
    .head-left, .head-middle {
      a, a:hover {
        color: #ffffff;
      }
    }

    .head-left, .head-middle, .head-right {
      width: 240px;
    }

    .head-right {
      .circle-user-wrapper {
        float: right;
      }
      .circle-user-wrapper::after {
        content: '';
        clear: both;
        display: block;
        visibility:hidden;
        height:0;
      }
    }

    // 头部菜单样式
    .ant-menu {
      background: transparent;
      color: #ffffff;
    }
    .ant-menu-horizontal {
      border: none;
    }
    .ant-menu-horizontal > .ant-menu-item:hover,
    .ant-menu-horizontal > .ant-menu-item-selected {
      border-color: #ffffff;
      color: #ffffff;
    }

    // 头部按钮样式
    .ant-btn:hover, .ant-btn:focus {
      color: #ffffff;
      border-color: transparent;
    }
    .login-btn {
      margin-right: 20px;
    }
  }
  
  .not-home {
    background: #ffffff;
    box-shadow: 0 2px 8px #f0f1f2;
    .head-left, .head-middle {
      a {
        color: #314659;
      }

      a:hover {
        border-color: #1890ff;
        color: #1890ff;
      }
    }

    // 头部菜单样式
    .ant-menu {
      background: transparent;
      color: #314659;
    }
    .ant-menu-horizontal {
      border: none;
    }
    .ant-menu-horizontal > .ant-menu-item:hover,
    .ant-menu-horizontal > .ant-menu-item-selected,
    .ant-menu-horizontal > .ant-menu-item-selected > a {
      border-color: #1890ff;
      color: #1890ff;
    }

    // 头部按钮样式
    .ant-btn:hover, .ant-btn:focus {
      color: #40a9ff;
      background-color: #fff;
      border-color: #40a9ff;
    }

    .ant-btn-primary:hover, .ant-btn-primary:focus {
      color: #fff;
      background-color: #40a9ff;
      border-color: #40a9ff;
    }
  }