
.editor-right {
  flex: 1;
  display: flex;

  .editor-workspace {
    flex: 1;
    background: #ECECEC;
    position: relative;
    overflow: hidden;
    padding: 50px 0;
    .workspace-wrapper {
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      .workspace {
        position: absolute;
        z-index: 1;
        transform: scale(0.3);
      }
    }

    .enlarge-wrapper {
      background: #999;
      border-radius: 16px;
      bottom: 25px;
      color: #fff;
      font-size: 12px;
      height: 35px;
      left: 50%;
      line-height: 36px;
      margin-left: -85px;
      position: absolute;
      width: 170px;
      z-index: 9999999;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      .scale-area {
        font-size: 14px;
        width: 88px;

        .scale-value {
          margin: 0 10px;
          user-select: none;
          cursor: default;
        }
      }
      .auto-area {
        font-size: 14px;
        width: 23px;
      }
    }
    i {
      cursor: pointer;
    }
    i:hover {
      color: #1890ff;
    }
  }

  .editor-workspace-panel {
    width: 184px;
  }
}