.App {
  .home-bk {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, #3b5fe2, #37b6f5);
    img {
      position: relative;
      left: -1px;
      height: 100%;
      width: 100%;
    }
  }
}

.account-wrapper {
  .ant-layout {
    max-width: none;
    width: 100%;
  }

  .content-wrapper {
    margin-top: 10px;
  }
}

.template-wrapper {
  .ant-layout {
    max-width: none;
    width: 100%;
  }

  .content-wrapper {
    margin-top: 10px;
  }
}