
html, body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.ant-layout {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  background: transparent;
  z-index: 2;
}

// 内容样式
.content-wrapper {
  height: calc(100vh - 64px);
  position: relative;
  width: 100%;
}