.editor-content-wrapper {
  height: 100%;
  display: flex;

  .editor-nav {
    width: 68px;
    .ant-menu {
      height: 100%;
      .ant-menu-item {
        display: flex;
        flex-direction: column;
        padding: 16px 16px;
        height: 68px;
      }
    }
  }
  .editor-nav-panel {
    width: 288px;
    .nav-panel-wrapper {
      height: 100%;
    }
  }

}