.my-content-wrapper {
  .card-box-wrapper {
    .card-content {
      i:hover {
        color: #1890ff;
        cursor: pointer;
      }
    }
    .card-img {
      height: 200px;
      background: #eceef0 50%/contain no-repeat;
    }
  }
}