html, body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
}

// 可可喵公主
@font-face {
  font-family: 'font1';
  src: url('http://127.0.0.1:7001/corgi/public/font/kkmgz.woff') format('truetype'),
}

// 方正楷体
@font-face {
  font-family: 'font2';
  src: url('http://127.0.0.1:7001/corgi/public/font/fzkt.woff') format('truetype'),
}

// 名列前茅
@font-face {
  font-family: 'font3';
  src: url('http://127.0.0.1:7001/corgi/public/font/mlqm.woff') format('truetype'),
}

// 百变马丁
@font-face {
  font-family: 'font4';
  src: url('http://127.0.0.1:7001/corgi/public/font/bbmd.woff') format('truetype'),
}

// 小白
@font-face {
  font-family: 'font5';
  src: url('http://127.0.0.1:7001/corgi/public/font/xb.woff') format('truetype'),
}

#circle {
  width: 100px;
  height: 100px;
  background: #1890ff;
  border-radius: 50%
}

#square {
  width: 100px;
  height: 100px;
  background: #1890ff;
}

#triangle-up {
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #1890ff;
}
