.head-wrapper {
  display: flex;
  justify-content: space-between;
  background: transparent;
  background: #ffffff;
  box-shadow: 0 2px 8px #f0f1f2;
  .head-left {
    a {
      color: #314659;
    }

    a:hover {
      border-color: #1890ff;
      color: #1890ff;
    }
  }
  .head-left, .head-middle, .head-right {
    width: 240px;
  }
  .head-right {
    width: 285px;
  }
  .head-middle {
    input {
      border: none;
      text-align: center;
    }
  }  
  .head-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .file-px-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 100%;
    .ant-input-number {
      width: 70px;
      margin: 0 8px;
    }
  }

}
