.App {
  .ant-layout {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    position: relative;
    background: transparent;
    z-index: 2;
  }

  .home-bk {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, #3b5fe2, #37b6f5);
    img {
      position: relative;
      left: -1;
      width: 100%;
    }
  }

  // 头部样式
  .head-wrapper {
    display: flex;
    justify-content: space-between;
    background: transparent;
    .head-left {
      color: #ffffff;
    }

    // 头部菜单样式
    .ant-menu {
      background: transparent;
      color: #ffffff;
    }
    .ant-menu-horizontal {
      border: none;
    }
    .ant-menu-horizontal > .ant-menu-item:hover,
    .ant-menu-horizontal > .ant-menu-item-selected {
      border-color: #ffffff;
      color: #ffffff;
    }

    // 头部按钮样式
    .ant-btn:hover, .ant-btn:focus {
      color: #ffffff;
      border-color: transparent;
    }
    .login-btn {
      margin-right: 20px;
    }
  }

  // 内容样式
  .content-wrapper {
    height: calc(100vh - 64px);
    position: relative;
    width: 100%;
  }
}